In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [43]:
data_acc = pd.read_csv("../Resources/accident_data.csv")
print("\n Quick view of the head of the data: \n")
data_acc.head()

 Quick view of the head of the data:

,Accident_Index,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year,InScotland
0,200501BS00001,A,3218.0,NaN,0.0,Serious,None,04/01/2005,Tuesday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30,17:42,Urban,Raining no high winds,2005,No
1,200501BS00002,B,450.0,C,0.0,Slight,None,05/01/2005,Wednesday,1.0,...,Metropolitan Police,Dry,Dual carriageway,None,30,17:36,Urban,Fine no high winds,2005,No
2,200501BS00003,C,0.0,NaN,0.0,Slight,None,06/01/2005,Thursday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30,00:15,Urban,Fine no high winds,2005,No
3,200501BS00004,A,3220.0,NaN,0.0,Slight,None,07/01/2005,Friday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30,10:35,Urban,Fine no high winds,2005,No
4,200501BS00005,NaN,0.0,NaN,0.0,Slight,None,10/01/2005,Monday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30,21:13,Urban,Fine no high winds,2005,No

In [44]:
print("\n Quick view of the tail of the data: \n")
data_acc.tail()

 Quick view of the tail of the data:

,Accident_Index,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year,InScotland
1048570,201091NM01760,A,95.0,NaN,0.0,Slight,None,18/02/2010,Thursday,1.0,...,Northern,Dry,Single carriageway,None,60,07:00,Rural,Fine no high winds,2010,Yes
1048571,201091NM01881,A,95.0,NaN,0.0,Slight,None,21/02/2010,Sunday,1.0,...,Northern,Frost or ice,Single carriageway,None,60,03:00,Rural,Fine no high winds,2010,Yes
1048572,201091NM01935,A,96.0,Unclassified,0.0,Slight,None,23/02/2010,Tuesday,1.0,...,Northern,Frost or ice,Single carriageway,None,30,09:38,Rural,Fine no high winds,2010,Yes
1048573,201091NM01964,A,9.0,Unclassified,0.0,Serious,None,23/02/2010,Tuesday,1.0,...,Northern,Wet or damp,Single carriageway,None,60,18:25,Rural,Fine no high winds,2010,Yes
1048574,201091NM02142,NaN,0.0,Unclassified,0.0,Serious,Other object on road,28/02/2010,Sunday,1.0,...,Northern,Wet or damp,Dual carriageway,None,60,15:45,Rural,Snowing no high winds,2010,Yes

In [45]:
data_veh = pd.read_csv("../Resources/vehicle_data.csv",encoding='latin')
print("\n Quick view of the head of the data: \n")
data_veh.head()

 Quick view of the head of the data:

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Journey_Purpose_of_Driver,Junction_Location,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year
0,200401BS00001,26 - 35,3.0,Urban area,4.0,1588.0,None,None,Data missing or out of range,Data missing or out of range,...,None,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,2,109,Data missing or out of range,Front,2004
1,200401BS00002,26 - 35,NaN,Urban area,3.0,NaN,None,None,Data missing or out of range,Data missing or out of range,...,None,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,109,Data missing or out of range,Front,2004
2,200401BS00003,26 - 35,4.0,Data missing or out of range,NaN,998.0,None,None,Data missing or out of range,Data missing or out of range,...,None,No tow/articulation,Did not leave carriageway,0.0,Turning right,1,109,Data missing or out of range,Front,2004
3,200401BS00003,66 - 75,NaN,Data missing or out of range,NaN,NaN,None,None,Data missing or out of range,Data missing or out of range,...,None,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,2,109,Data missing or out of range,Front,2004
4,200401BS00004,26 - 35,1.0,Urban area,4.0,124.0,None,None,Data missing or out of range,Data missing or out of range,...,None,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Motorcycle 125cc and under,Data missing or out of range,Front,2004

In [46]:
print("\n Quick view of the tail of the data: \n")
data_veh.tail()

 Quick view of the tail of the data:

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Journey_Purpose_of_Driver,Junction_Location,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year
2177200,2016984131116,21 - 25,14.0,Urban area,NaN,1598.0,None,None,Not known,Mid Junction - on roundabout or on main road,...,None,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Car,No,Front,2016
2177201,2016984131116,56 - 65,NaN,Small town,NaN,1598.0,None,None,Commuting to/from work,Mid Junction - on roundabout or on main road,...,None,No tow/articulation,Offside,0.0,Going ahead other,2,Car,No,Front,2016
2177202,2016984131216,56 - 65,NaN,Urban area,3.0,NaN,None,Central crash barrier,Journey as part of work,Not at or within 20 metres of junction,...,None,No tow/articulation,Offside on to central reservation,0.0,Going ahead other,1,Goods 7.5 tonnes mgw and over,No,Offside,2016
2177203,2016984131316,16 - 20,13.0,Urban area,6.0,1796.0,None,Tree,Not known,Not at or within 20 metres of junction,...,Skidded,No tow/articulation,Offside,0.0,Going ahead other,1,Car,No,Front,2016
2177204,2016984133416,46 - 55,5.0,Urban area,NaN,2184.0,None,Wall or fence,Not known,Not at or within 20 metres of junction,...,Skidded and overturned,No tow/articulation,Nearside,0.0,Going ahead other,1,Car,No,Nearside,2016

In [47]:
data_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 34 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   Accident_Index                               1048575 non-null  object
 1   1st_Road_Class                               742986 non-null   object
 2   1st_Road_Number                              1048573 non-null  float64
 3   2nd_Road_Class                               608751 non-null   object
 4   2nd_Road_Number                              1037772 non-null  float64
 5   Accident_Severity                            1048575 non-null  object
 6   Carriageway_Hazards                          1048546 non-null  object
 7   Date                                         1048575 non-null  object
 8   Day_of_Week                                  1048575 non-null  object
 9   Did_Police_Officer_Attend_Scene_of_Accident  1048306 non-null  float64
 10  Junction_Control                             1048575 non-null  object
 11  Junction_Detail                              1048575 non-null  object
 12  Latitude                                     1048464 non-null  float64
 13  Light_Conditions                             1046491 non-null  object
 14  Local_Authority_(District)                   1048575 non-null  object
 15  Local_Authority_(Highway)                    1048575 non-null  object
 16  Location_Easting_OSGR                        1048464 non-null  float64
 17  Location_Northing_OSGR                       1048464 non-null  float64
 18  Longitude                                    1048463 non-null  float64
 19  LSOA_of_Accident_Location                    976685 non-null   object
 20  Number_of_Casualties                         1048575 non-null  int64
 21  Number_of_Vehicles                           1048575 non-null  int64
 22  Pedestrian_Crossing-Human_Control            1048554 non-null  float64
 23  Pedestrian_Crossing-Physical_Facilities      1048538 non-null  float64
 24  Police_Force                                 1048575 non-null  object
 25  Road_Surface_Conditions                      1047386 non-null  object
 26  Road_Type                                    1041309 non-null  object
 27  Special_Conditions_at_Site                   1048559 non-null  object
 28  Speed_limit                                  1048575 non-null  int64
 29  Time                                         1048475 non-null  object
 30  Urban_or_Rural_Area                          1048490 non-null  object
 31  Weather_Conditions                           1027183 non-null  object
 32  Year                                         1048575 non-null  int64
 33  InScotland                                   1048532 non-null  object
dtypes: float64(9), int64(4), object(21)
memory usage: 272.0+ MB

In [48]:
data_veh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177205 entries, 0 to 2177204
Data columns (total 24 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Accident_Index                    object
 1   Age_Band_of_Driver                object
 2   Age_of_Vehicle                    float64
 3   Driver_Home_Area_Type             object
 4   Driver_IMD_Decile                 float64
 5   Engine_Capacity_.CC.              float64
 6   Hit_Object_in_Carriageway         object
 7   Hit_Object_off_Carriageway        object
 8   Journey_Purpose_of_Driver         object
 9   Junction_Location                 object
 10  make                              object
 11  model                             object
 12  Propulsion_Code                   object
 13  Sex_of_Driver                     object
 14  Skidding_and_Overturning          object
 15  Towing_and_Articulation           object
 16  Vehicle_Leaving_Carriageway       object
 17  Vehicle_Location.Restricted_Lane  float64
 18  Vehicle_Manoeuvre                 object
 19  Vehicle_Reference                 int64
 20  Vehicle_Type                      object
 21  Was_Vehicle_Left_Hand_Drive       object
 22  X1st_Point_of_Impact              object
 23  Year                              int64
dtypes: float64(4), int64(2), object(18)
memory usage: 398.7+ MB

#  Create new data with select columns

In [49]:
new_data_acc = data_acc[['Accident_Index','Accident_Severity','Day_of_Week','Weather_Conditions']].copy()
new_data_acc.head()

  Accident_Index Accident_Severity Day_of_Week     Weather_Conditions
0  200501BS00001           Serious     Tuesday  Raining no high winds
1  200501BS00002            Slight   Wednesday     Fine no high winds
2  200501BS00003            Slight    Thursday     Fine no high winds
3  200501BS00004            Slight      Friday     Fine no high winds
4  200501BS00005            Slight      Monday     Fine no high winds

In [50]:
new_data_veh = data_veh[['Accident_Index','Age_Band_of_Driver','Age_of_Vehicle','make','model','Sex_of_Driver']].copy() 
new_data_veh.head()

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,make,model,Sex_of_Driver
0,200401BS00001,26 - 35,3.0,ROVER,45 CLASSIC 16V,Male
1,200401BS00002,26 - 35,NaN,BMW,C1,Male
2,200401BS00003,26 - 35,4.0,NISSAN,MICRA CELEBRATION 16V,Male
3,200401BS00003,66 - 75,NaN,LONDON TAXIS INT,TXII GOLD AUTO,Male
4,200401BS00004,26 - 35,1.0,PIAGGIO,VESPA ET4,Male

# Drop the rows where all elements are missing.

In [51]:
print(new_data_acc.shape)
new_data_acc.dropna(how='all')
print(new_data_acc.shape)

(1048575, 4)
(1048575, 4)

In [52]:
print(new_data_veh.shape)
new_data_veh.dropna(how='all')
print(new_data_veh.shape)

(2177205, 6)
(2177205, 6)

# Drop the NaN value.

In [53]:
new_data_acc.dropna()

        Accident_Index Accident_Severity Day_of_Week     Weather_Conditions
0        200501BS00001           Serious     Tuesday  Raining no high winds
1        200501BS00002            Slight   Wednesday     Fine no high winds
2        200501BS00003            Slight    Thursday     Fine no high winds
3        200501BS00004            Slight      Friday     Fine no high winds
4        200501BS00005            Slight      Monday     Fine no high winds
...                ...               ...         ...                    ...
1048570  201091NM01760            Slight    Thursday     Fine no high winds
1048571  201091NM01881            Slight      Sunday     Fine no high winds
1048572  201091NM01935            Slight     Tuesday     Fine no high winds
1048573  201091NM01964           Serious     Tuesday     Fine no high winds
1048574  201091NM02142           Serious      Sunday  Snowing no high winds

[1027183 rows x 4 columns]

In [54]:
new_data_veh.dropna()

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,make,model,Sex_of_Driver
0,200401BS00001,26 - 35,3.0,ROVER,45 CLASSIC 16V,Male
2,200401BS00003,26 - 35,4.0,NISSAN,MICRA CELEBRATION 16V,Male
4,200401BS00004,26 - 35,1.0,PIAGGIO,VESPA ET4,Male
9,200401BS00013,26 - 35,4.0,VOLKSWAGEN,GOLF V5,Female
10,200401BS00013,21 - 25,3.0,FORD,TRANSIT 350 LWB TD,Male
...,...,...,...,...,...,...
2177198,2016984130916,46 - 55,8.0,SEAT,IBIZA ECOMOTIVE TDI,Female
2177199,2016984130916,Data missing or out of range,11.0,RENAULT,MEGANE DYNAMIQUE 16V,Not known
2177200,2016984131116,21 - 25,14.0,MINI,MINI COOPER,Female
2177203,2016984131316,16 - 20,13.0,VAUXHALL,VECTRA SXI 16V,Male
2177204,2016984133416,46 - 55,5.0,MAZDA,CX-7 SPORT TECH D,Male